<div class="p-4	details">
    <h3 data-test-title class="text-xl font-medium">{{@title}}</h3>
    {{#if @subtitle}}
      <h5 data-test-subtitle class="text-lg font-normal">{{@subtitle}}</h5>
    {{/if}}
</div>